* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 85% 5%;
    
}

canvas {
    position: absolute;
}

.moreToolsSection {
    width: 100%;
    height: 10vh;
    grid-column-start: 1;
    grid-column-end: -1;
}

.drawToolsSection {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

div {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.drawToolsSection div {
    background: none;
}

img {
    width: 100%;
    height: 100%;
}

/*Section de colores*/

.colorSection {
    height: 5vh;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    overflow: hidden;
    overflow-x: scroll;
    background-color: black;
    
}

.colors {
    width: 300%;
    height: 5vh;
    display: flex;
}

.colors_article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

@media (min-width: 1024px) {
    .colors {
        width: 100%;
    }

    .colors_article {
        width: 320px;
    }

    .colorSection {
        overflow-x: hidden;
    }
}

.color {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid white;
}

#black {
    background-color: black;
}

#gray {
    background-color: gray;
}

#white {
    background-color: white;
}

#crimson {
    background-color: crimson;
}

#red {
    background-color: red;
}

#orangered {
    background-color: orangered;
}

#orange {
    background-color: orange;
}

#gold {
    background-color: gold;
}

#yellow {
    background-color: yellow;
}

#lime {
    background-color: lime;
}

#limegreen {
    background-color: limegreen;
}

#green {
    background-color: green;
}

#springgreen {
    background-color: springgreen;
}

#cyan {
    background-color: cyan;
}

#deepskyblue {
    background-color: deepskyblue;
}

#blue {
    background-color: blue;
}

#mediumslateblue {
    background-color: mediumslateblue;
}

#magenta {
    background-color: magenta;
}

#hotpink {
    background-color: hotpink;
}

#lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}

#lightsalmon {
    background-color: lightsalmon;
}

#midnightblue {
    background-color: midnightblue;
}

#olive {
    background-color: olive;
}

#navajowhite {
    background-color: navajowhite;
}

#peru {
    background-color: peru;
}

#seagreen {
    background-color: seagreen;
}

#thistle {
    background-color: thistle;
}

/*More tools section*/

.ctrlZ, .slidebar, .fill, .fill_background { 
    margin-right: 1.5rem;
}

.moreToolsSection {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.slidebar {
    position: relative;
    width: 100px;
    height: 20px;
}



